<li class="list-group-item" [ngClass]="{'list-group-item-success': 0 < loveIts, 'list-group-item-danger': 0 > loveIts}">
  <div class="col-xs-12">
    <h2>{{ title }}</h2>
    <small>{{ createdAt | date: 'dd/MM/yyyy, HH:mm:ss' }}</small>
  </div>
  <div class="col-xs-12">
    <p>{{ content }}</p>
  </div>
  <button class="btn btn-danger" (click)="Delete()">Delete</button>
  <button class="btn btn-success" (click)="iLoveIt()">Love it!</button>
  <button class="btn btn-danger" (click)="iDontLoveIt()">Don't love it!</button>
  <button class="btn btn-warning" routerLink="/posts/{{ indexPost }}">Afficher</button>
</li>
