<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <div class="form-group">
    <label for="title">Titre</label>
    <input id="title" type="text" formControlName="title" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="content">Contenu</label>
    <input id="content" type="text" formControlName="content" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Ajouter l'annonce</button>
</form>

